body {
  background: #ccccff;
  margin: 0;
  padding: 0;
}

/* Top Stripe */

.topstripe {
  box-sizing: border-box;
  background-color: #ffee4d;
  overflow: auto;
  padding: 16px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.home_button img{
    width: 4.5%;
     float: left;   
}

.topmenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topmenu li {
  color: #000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
    text-transform: uppercase;
  margin: 0;
  padding: 20px 36px 10px 0px;
  float: right;
}

.below_stripe{
      position: relative;
        top: 100px;
}

table {
  height: 100%;
  margin: 20px auto;
  overflow-y: scroll;

  width: 80%;

}

td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  padding: 20px;
  width: 50%;
}

img{
    width: 100%;
    
}
